/* home */
body {
  font-size: 1.5rem;
  font-size: clamp(1.5rem, 1.4rem + 0.5vw, 2rem);
  font-weight: bold;
  width: min(90vw, 600px);
  padding: max(0.5vh, 0.5rem);
  font-family: 'Dosis';
  color: black;
  background-color: darkseagreen;
  margin-inline: auto;
}

h1,
h2 {
  color: #093912;
}

img {
  max-width: 100%;
  height: auto;
  border: 8px double #238335;
}

.fadein img {
  opacity: 0.5;
  transition: 1s ease;
}

.fadein img:hover {
  opacity: 1;
  transition: 1s ease;
}

.flow figcaption {
  font-size: large;
}

a:visited {
  color: #0000e8;
}

:root {
  --flow-space: 0.5rem;
}

.flow > * + * {
  margin-top: var(--flow-space, 1em);
}
